<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Bootstrap Responsive Multi-Purpose Landing Page Template">
		<meta name="keywords" content="Landro,Bootstrap,landing,Template,Mobile landing,Responsive,">
		<meta name="author" content="Omar Faruk">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- SITE TITLE -->
		<title>TRABALHO TGA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- =========================
		     FAV AND TOUCH ICON  AREA     
		============================== -->
		<link rel="icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<!-- =========================
		     STYLESHEETS  AREA     
		============================== -->
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- FONT ICON (FONT-AWESOME) -->
		<link rel="stylesheet"  href="assets/font-awesome/css/font-awesome.min.css">

		<!-- OWL-CAROUSEL -->
		<link rel="stylesheet"  href="assets/owl-carousel/owl.carousel.css">
		<link rel="stylesheet"  href="assets/owl-carousel/owl.theme.css">

		<!-- WODRY TEXT SLIDING  -->
		<link rel="stylesheet"  href="css/wodry.css">

		<!-- CUSTOM STYLES -->
		<link rel="stylesheet"  href="css/style.css">




		<!-- COLORS -->
		<!--<link rel="stylesheet"  href="css/colors/light-green.css">--> <!-- default color -->
		<!-- <link rel="stylesheet"  href="css/colors/blue.css"> -->
		<!-- <link rel="stylesheet"  href="css/colors/blue-munsell.css"> -->
		<!-- <link rel="stylesheet"  href="css/colors/orange.css"> -->
		<!-- <link rel="stylesheet"  href="css/colors/purple.css"> -->
		<!-- <link rel="stylesheet"  href="css/colors/red.css"> -->
		 <link rel="stylesheet"  href="css/colors/slate.css"> 
		<!-- <link rel="stylesheet"  href="css/colors/yellow.css"> -->






		<!-- RESPONSIVE FIXES -->
		<link rel="stylesheet"  href="css/responsive.css">
		<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- ****************
	      After neccessary customization/modification, Please minify HTML/CSS according to http://browserdiet.com/en/ for better performance
	     **************** -->
	</head>
	<body ng-controller="evento as ev">
		<!-- =========================
		     PRE-LOADER  AREA     
		============================== -->
	<div class="preloader">
			<div class="status">&nbsp;</div>
	</div>
 	<!-- =========================
 	     HEADER  AREA     
 	============================== -->
 	<section id="section-1" class="header-section">
 		<div class="color-overlay">
	 		<div class="container">
	 			<div class="header-logo">
                    <!--<span style="width: 217px; height: 80px">LOGO</span>-->
                    <img src="./images/logo.png" alt="Logo"> 
	 			</div> <!-- HEADER LOGO -->
	 			<div class="header-social-icons"> <!-- HEADER SOCIAL ICONS -->
					<a href="#"><i class="hovicon effect-7 sub-b fa fa-facebook-square "></i></a>
					<a href="#"><i class="hovicon effect-7 sub-b fa fa-twitter-square "></i></a>
					<a href="#"><i class="hovicon effect-7 sub-b fa fa-google-plus-square "></i></a>
				</div>
	 			<div class="header-text">
	 				<H1><span class=wodry>Vagas | 
                        Limitadas |
                        Participe |
                        Inscreva-se
	 				</span> </H1>			
	 				<H4>Primeiro Congresso de Segurança da Informação</H4>
	 			</div> <!-- HEADER-TEXT -->
	 			<div class="subscribtion-form">
	 					<div class="subcribtion-inputs">
	 						<span class="input input--madoka">
							<input class="input__field input__field--madoka" type="text" id="input-1" ng-model="ev.people.email" />
							<label class="input__label input__label--madoka" for="input-1">
								<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
									<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
								</svg>
								<span class="input__label-content input__label-content--madoka">Digite seu E-mail Por Favor...</span>
							</label>
							</span>
	 					</div> <!-- SUBSCRIBTION INPUTS -->
	 					<div class="subscribtion-button">
	 						<a href="#" class="btn-lg standard-button">MANTANHA-ME ATUALIZADO</a>
	 					</div>

	 				</div> <!-- SUBSCRIBTION FORM  -->
	 			
	 		</div>
	 	</div>	
 	</section>

 	<!-- =========================
 	     FEATURE  AREA     
 	============================== -->
 	<section id="section-2" class="feature-section">
 		<div class="container">
 			<div class="row">
 				<div class="section-heading">
 					<h2>VEJA AS NOVIDADES DO CSI IFES 2016</h2>
 					<h4>Confira nossa programação</h4>
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-3 col-sm-6">
 					<div class="single-feature border-from-bottom">
 						<div class="feature-icon">
 							<i class="fa fa-slideshare"></i>
 						</div>
 						<div class="feature-content">
 							<h3>Palestras</h3>
 							<p>Cyber Crimes, Segurança na governança, Auditoria de Sistemas e da Segurança da informação, Segurança da Informação, Marco Civil da Internet e Privacidade e Proteção de Dados. </p>
 						</div>
 					</div>
 				</div> <!-- SINGLE FEATURE -->
 				<div class="col-md-3 col-sm-6">
 					<div class="single-feature border-from-bottom">
 						<div class="feature-icon">
 							<i class="fa fa-graduation-cap"></i>
 						</div>
 						<div class="feature-content">
 							<h3>Mini Cursos</h3>
 							<p>Segurança em Infraestrutura, Aplicações Moveis, Politica e Legislação, Auditoria de Sistemas 
Ambientes Computacionais, Segurança em cloud, Identidade Digital, Perdas e Vazamentos de Dados e Aplicações Seguras. </p>
 						</div>
 					</div>
 				</div> <!-- SINGLE FEATURE -->
 				<div class="col-md-3 col-sm-6">
 					<div class="single-feature border-from-bottom">
 						<div class="feature-icon">
 							<i class="fa fa-gears"></i>
 						</div>
 						<div class="feature-content">
 							<h3>Oficinas</h3>
 							<p>Gerenciamento de Riscos, Linhas de Código e Segurança de usuário Final. </p>
 						</div>
 					</div>
 				</div> <!-- SINGLE FEATURE -->
 				<div class="col-md-3 col-sm-6">
 					<div class="single-feature border-from-bottom">
 						<div class="feature-icon">
 							<i class="fa fa-clock-o"></i>
 						</div>
 						<div class="feature-content">
 							<h3>Intervalos</h3>
 							<p>Bem distribuídos para recuperar as energias e aproveitar o máximo todo o evento. Cofee Break e Almoço serão servido a todos os participantes. </p>
 						</div>
 					</div>
 				</div> <!-- SINGLE FEATURE -->
 			</div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Dias 16, 17 e 18 de Setembro a partir das 8:00 horas</h2>
                </div>
            </div>

 		</div>	
 	</section>


 		<!-- =========================
 		     FAQ  AREA     
 		============================== -->


    	<section id="section-6" class="faq-section section-bg-color">
    		<div class="container">
    			<div class="row">
    				<div class="section-heading">
    					<h2>Perguntas Frequentes (FAQ)</h2>
    					<h4>Tem perguntas? Nós temos as respostas</h4>
    				</div> <!-- FAQ HEADER -->
    			</div>
    			<div class="row">
    				<div class="col-md-6">
    					<div class="single-faq text-left">
    						<h5>Qual a localização do IFES Campus Serra?</h5>
    						<p>Rodovia ES-010 - Km 6,5 - Manguinhos<br>
                                29173 - 087 - Serra - ES<br>
                                Tel.: (27) 3348-9200</p>
    					</div>
    				</div>
    				<div class="col-md-6">
    					<div class="single-faq text-left">
    						<h5>Quem são os palestrantes?</h5>
    						<p>Cyber Crimes: Gilberto Sudre Filho<br>
                            Auditoria de Sistemas e da Segurança da informação: Eduardo Zambon<br>
                            Privacidade e Proteção de Dados: Wander Souza<br>
                            Segurança da Informação: Leandro Resende<br>
                            Segurança na governança: Celio Maioli</p>
    					</div>
    				</div>
    			</div> <!-- FIRST SECTION OF QUESTIONS -->
    			<div class="row">
    				<div class="col-md-6">
    					<div class="single-faq text-left">
    						<h5>O que devo levar?</h5>
    						<p>Nada! Todos os recursos que utilizaremos estarão sendo disponibilizados pelo IFES e todo material de uso pessoal como bloco de notas será disponibilizado ao participante.</p>
    					</div>
    				</div>
    				<div class="col-md-6">
    					<div class="single-faq text-left">
    						<h5>Posso participar apenas de algumas palestras/cursos?</h5>
    						<p>Sim! Você é livre para chegar o horário que quiser, basta conferir o nosso cronograma.</p>
    					</div>
    				</div>
    			</div> <!-- SECOND SECTION OF QUESTION -->
    			 <!-- THIRD SECTION OF QUESTION -->
    		</div>
    	</section>

 		<!-- =========================
 		     PRICING TABLE  AREA     
 		============================== -->

 		<section id="section-7" class="pricing-table section-bg-color-second">
 			<div class="container">
 				<div class="row">
 					<div class="section-heading-white">
 						<h2>Patrocinadores e Colaboradores</h2>
 					</div>
 				</div>
 				<div class="row">
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/xdevel.png" width="90px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/dell.png" width="90px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/ifes.png" width="250px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/sebrae.png" width="150px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/csa.png" width="250px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 					<div class="col-md-4 col-sm-6" style="padding: 15px;">
 						<div class="single-pricing-table">
 							<div class="pricing-head">
 								<img src="images/leds.png" width="150px" height="90px">
 							</div>
 							<a class="btn standard-button" href="#">ACESSE</a>
 						</div>
 					</div> <!-- SINGLE PRICING TABLE -->
 				</div>
 			</div>
 		</section>


 		<!-- =========================
 		     EMAIL-SUBSCRIBTION  AREA     
 		============================== -->
 		<section id="section-8" class="email-subscribtion-section">
 			<div class="color-overlay">
	 			<div class="container">
	 				<div class="col-md-12">
                        <div class="subscribtion-heading">
	 					<h2>Faça sua inscrição abaixo:</h2>
	 					<h5 style="color: #000;">Ao cadastrar você está concordando com os termos de responsabilidade.</h5>
	 				</div> <!-- SUBSCRIBTION HEADING -->
                    <div class="col-md-12 text-left">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label class="label">Nome:</label>
                                <input id="nome" ng-model="ev.people.nome" class="form-control" type="email" placeholder="Informe seu nome">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label class="label">Email:</label>
                                <input id="email" ng-model="ev.people.email" class="form-control" type="email" placeholder="Informe seu e-mail">
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label class="label">Celular:</label>
                                <input id="celular" ng-model="ev.people.celular" class="form-control" type="email" placeholder="Informe seu celular" mask="">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label id="cpf" class="label">CPF:</label>
                                <input ng-model="ev.people.cpf" class="form-control" type="email" placeholder="Informe seu CPF">
                            </div>
                        </div>
                    </div>
	 				<div class="subscribtion-button col-md-4 col-md-offset-4 col-sm-12">
	 				<a class="btn-lg standard-button" ng-click="ev.subscribe()" style="cursor: pointer;">Inscrever-me</a>
	 			</div> <!-- HEADER-BUTTON -->
                    </div>
                    
                    <h4>R$ 50,00</h4>
	 				
	 			</div>
	 		</div> <!-- COLOR OVERLAY -->	
 		</section>


		<!-- =========================
		   FOOTER  AREA     
		============================== -->
		<footer id="section-9" class="section-bg-color">
			<div class="container">
				<div class="footer-logo hover-grow-shadow">
					<img src="./images/logo.png" alt="Logo">
				</div> <!-- FOOTER LOGO -->

				<div class="copyright-text">
					<p>&copy;2015 CSI - Landro - Template LLC</p>
				</div> <!-- COPYRIGHT TEXT -->

			</div> <!-- CONTAINER CLOSE HERE -->
		</footer>
		<!-- =========================
		     SCRIPTS   AREA     
		============================== -->
		<!-- JQUERY LATEST -->
		<script src="js/jquery-1.11.2.min.js"></script> <!-- You can use CDN version -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js" type="text/javascript"></script>
        
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="js/module.js"></script>
        
        

		<script>
		/* =================================
		   PRE-LOADER ACTIVE SRCIPT                    
		=================================== */
		// makes sure the whole site is loaded
		jQuery(window).load(function() {
			"use strict";
		        // will first fade out the loading animation
			jQuery(".status").fadeOut();
		        // will fade out the whole DIV that covers the website.
			jQuery(".preloader").delay(1000).fadeOut("slow");
		})
        

		</script>

		<!-- BOOTSTRAP SCRIPT -->
		<script src="js/bootstrap.min.js"></script>

		<!-- WODRY TEXT SLIDING EFFECT -->
		<script src="js/wodry.min.js"></script>

		<!-- SMOOTH SCROLLING FOR EVERY BROWSER -->
		<script src="js/SmoothScroll.js"></script>

		<!-- RETINA READY FOR DEVICES -->
		<script src="js/retina.min.js"></script>

		<!-- RESPONSIVE VIDEO -->
		<script src="js/jquery.fitvids.js"></script>

		<!-- OWL-CAROUSEL -->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>

		<!-- ALL CUSTOM INI AND MODIFATION -->
		<script src="js/custom.js"></script>

	</body>